{% extends "_layout" %}

{% block content %}

{% include '_snippets/header-block' with
    {
      title: "Reset your password",
      description:""
    }
%}

<div class="row">
  <div class="col-sm-12">
    <form method="post" accept-charset="UTF-8">
        {{ csrfInput() }}
        {{ actionInput('users/send-password-reset-email') }}
        {{ redirectInput('') }}

        <div class="form-group">
          <label for="loginName">Username or Email</label>
          <input id="loginName" class="form-control"  type="text" name="loginName" value="{% if loginName is defined %}{{ loginName }}{% else %}{{ craft.app.user.rememberedUsername }}{% endif %}">
        </div>

        {% if errors is defined %}
            <ul class="errors">
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if errorMessage is defined %}
            <p class="error">{{ errorMessage }}</p>
        {% endif %}

        <div class="d-block d-sm-flex">
          <input type="submit" class="btn btn-purchase" value="Reset">
        </div>
    </form>
  </div>
</div>

{% endblock %}
