{# Home page / Feed #}

{% requireLogin %}

{% extends "_layout" %}




{% block content %}



{% set news_items = craft.entries.section('news') %}


{% for news in news_items %}

<div class="feed__box">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="feed__box--title">{{news.newsTitle}} <span class="feed__box--time"><i>
      <a href="{{news.url}}" style="color:#000!important">
      {{news.postDate | date("M d, Y") }}</a>

      </i></span></h2>
      <p class="feed__box--description mb-3">{{ news.newsDescription }}</p>
      {# feed box #}
      {# feed box outer #}

      {# feed box single #}
      {% set news_items_products = news.newsProducts %}
      {% for item in news_items_products %}
      <div class="feed__box__product__outer mt-3">
        <div class="row">
          <div class="col-12">
            <div class="d-flex flex-row">
              <img class="feed__box__product__outer--photo" style="" src="{{item.productImage.first().url}}" alt="">
              <div class="d-flex flex-column pl-2 ">
                <p class="feed__box__product__outer--name"><b>{{item}}</b><p>
                <a class="feed__box__product__outer--link pb-0 mb-0" href="{{item.url}}">View product →</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      {% endfor %}
      <div class="row mt-3">
        <div class="col-sm-12 mt-2 mt-sm-0">
          <a class="btn btn-purchase w-100" href="{{ url('order' , '?pdts=' ~ news_items_products|join(',') ) }}">
            Order these products now
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}

{% endblock %}
