{% extends "_layout" %}

{% block content %}
{% include '_snippets/header-block' with
    {
      title: "Set your new password",
      description:"Login in to your account"
    }
%}


<div class="row">
  <div class="col-sm-12">
    <form method="post" accept-charset="UTF-8">
        {{ csrfInput() }}
        {{ actionInput('users/set-password') }}
        {{ hiddenInput('code', code) }}
        {{ hiddenInput('id', id) }}

        <div class="form-group">
          <label for="newPassword">Your new password</label>
          <input id="newPassword" class="form-control"  type="password" name="newPassword">
        </div>

        {% if errors is defined %}
        <p> Errors were found with your submission:</p>
            {% for error in errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}
        {% endif %}

        {% if errorMessage is defined %}
            <p class="error">{{ errorMessage }}</p>
        {% endif %}

        <div class="d-block d-sm-flex">
          <input type="submit" class="btn btn-purchase" value="Submit">
        </div>
    </form>
  </div>
</div>

{% endblock %}
