{% extends "_layout" %}
{% requireLogin %}

{% block content %}
{% include '_snippets/header-block' with
    {
      title: "Contact",
      description:"Contact us with the form below."
    }
%}



<form method="post" id="form" action="" accept-charset="UTF-8">
    {{ csrfInput() }}
    <input type="hidden" name="action" value="contact-form/send">
    {{ redirectInput('contact/thanks') }}
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="from-name">Your Name</label>
          <input id="from-name" type="text" class="form-control" name="fromName" value="{{ currentUser.name ?? '' }}">
          <p class="error-fromName error error-hidden">Your Name cannot be blank</p>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="from-email">Your Email</label>
          <input id="from-email" type="email" class="form-control" name="fromEmail" value="{{ currentUser.email ?? '' }}">
          <p class="error-fromEmail error error-hidden">Your Email cannot be blank.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
        <label for="message">Message / Requests</label>
          <textarea placeholder="Your message here..."rows="3" cols="100%" id="message" name="message" style="padding-left:.6rem;padding-top:.3rem;max-width: 100%;border: 1px solid #d0d6db;border-radius: 3px;">{{ message.message ?? '' }}</textarea>
          <p class="error-message error error-hidden">Your Message cannot be blank</p>
        </div>
      </div>
    </div>

    <input id="subject" type="hidden" name="subject" value="Query from Contact Form">

    <div class="alert alert-success thanks" role="alert">
      <span class="white-text">Thanks! <br>We've received your message, we'll get back to you as soon as possible.</span>
    </div>

    <input type="submit" class="btn btn-purchase" value="Send">
</form>



    <script type="text/javascript">

    // $( document ).ready(function() {
    //   console.log( "ready!" );
    //   $('#form').submit(function(event) {
    //       event.preventDefault();
    //       console.log("preventDefault!");
    //       $('.error').slideUp();
    //       $.post({
    //           url: '/',
    //           dataType: 'json',
    //           data: $(this).serialize(),
    //           success: function(response) {
    //               console.log(response)
    //               if (response.success) {
    //                   console.log("Worked.");
    //                   $('.thanks').fadeIn();
    //               } else {
    //                   $('.thanks').fadeOut();
    //                   console.log("Didn't work.");
    //                   $('.error').slideUp();
    //                   for (i in response.errors) {
    //                     var className = '.error-'+i
    //                     console.log(className);
    //                     $(className).slideDown();
    //                   }
    //               }
    //           }
    //       });
    //     });
    //   });

    </script>


{% endblock %}
