{% extends "_layout" %}

{% block content %}

{{entry.title}}

<form method="post" id="form" action="" accept-charset="UTF-8">
    {{ csrfInput() }}
    <input type="hidden" name="action" value="contact-form/send">
    {{ redirectInput('contact/?res=tks') }}

    <h3><label for="from-name">Your Name</label></h3>
    <input id="from-name" type="text" name="fromName" value="{{ message.fromName ?? '' }}">
    <p class="error-fromName error error-hidden">Your Name cannot be blank</p>

    <h3><label for="from-email">Your Email</label></h3>
    <input id="from-email" type="email" name="fromEmail" value="{{ message.fromEmail ?? '' }}">
    <p class="error-fromEmail error error-hidden">Your Email cannot be blank.</p>

    {# <h3><label for="subject">Subject</label></h3> #}
    <input id="subject" type="hidden" name="subject" value="{{entry.title}}">
    {# <p class="error-subject error error-hidden">Your Subject cannot be blank</p> #}

    <h3><label for="message">Message</label></h3>
    <textarea rows="2" cols="100%" id="message" name="message">{{ message.message ?? '' }}</textarea>
    <p class="error-message error error-hidden">Your Message cannot be blank</p>
    <br><br>

    <p class="thanks green">sent successfully! thanks</p>

    <input type="submit" value="Send">
</form>

<style media="screen">
  .error{
    color:red;
  }
  .error-hidden{
    display:none;
  }
  .white{
    color:white;
  }
  .thanks{
    display:none;
  }
</style>


    <script type="text/javascript">

    $( document ).ready(function() {
      console.log( "ready!" );
      $('#form').submit(function(event) {
          event.preventDefault();
          console.log("preventDefault!");
          $('.error').slideUp();
          $.post({
              url: '/',
              dataType: 'json',
              data: $(this).serialize(),
              success: function(response) {
                  console.log(response)
                  if (response.success) {
                      console.log("Worked.");
                      $('.thanks').fadeIn();
                  } else {
                      $('.thanks').fadeOut();
                      console.log("Didn't work.");
                      $('.error').slideUp();
                      for (i in response.errors) {
                        var className = '.error-'+i
                        console.log(className);
                        $(className).slideDown();
                      }
                  }
              }
          });
        });
      });

    </script>


{% endblock %}
