{% extends "_layout" %}

{% block content %}
{% include '_snippets/header-block' with
    {
      title: "Contact",
      description:"Contact us..."
    }
%}



   <!-- <form>
     <div class="row">
       <div class="input-field col s6">
         <input id="first_name" type="text" class="validate">
         <label for="first_name">First Name</label>
       </div>
       <div class="input-field col s6">
         <input id="last_name" type="text" class="validate">
         <label for="last_name">Last Name</label>
       </div>
     </div>
     {# <div class="row">
       <div class="input-field col s12">
         <input disabled value="I am not editable" id="disabled" type="text" class="validate">
         <label for="disabled">Disabled</label>
       </div>
     </div> #}
     <div class="row">
       <div class="input-field col s12">
         <input id="password" type="password" class="validate">
         <label for="password">Password</label>
       </div>
     </div>
     <div class="row">
       <div class="input-field col s12">
         <input id="email" type="email" class="validate">
         <label for="email">Email</label>
       </div>
     </div>
     {# <div class="row">
       <div class="col s12">
         This is an inline input field:
         <div class="input-field inline">
           <input id="email_inline" type="email" class="validate">
           <label for="email_inline">Email</label>
           <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
         </div>
       </div>
     </div> #}
   </form> -->



<form method="post" id="form" action="" accept-charset="UTF-8">
    {{ csrfInput() }}
    <input type="hidden" name="action" value="contact-form/send">
    {{ redirectInput('contact/?res=tks') }}
    <div class="row">
      <div class="col-md-6">
        <label for="from-name">Your Name</label>
        <input id="from-name" type="text" name="fromName" value="{{ message.fromName ?? '' }}">
        <p class="error-fromName error error-hidden">Your Name cannot be blank</p>
      </div>

      <div class="col-md-6">
        <label for="from-email">Your Email</label>
        <input id="from-email" type="email" name="fromEmail" value="{{ message.fromEmail ?? '' }}">
        <p class="error-fromEmail error error-hidden">Your Email cannot be blank.</p>
      </div>


      <div class="col-md-6">
        <textarea placeholder="Your message here..."rows="2" cols="100%" id="message" name="message" style="padding-left:.5rem;padding-top:.5rem">{{ message.message ?? '' }}</textarea>
        <p class="error-message error error-hidden">Your Message cannot be blank</p>
      </div>
    </div>

    <input id="subject" type="hidden" name="subject" value="Query from {{entry.title}}">
    {# <p class="thanks green">sent successfully! thanks</p> #}

    <div class="card-panel teal thanks">
      <span class="white-text">Thanks! We've received your message, we'll get back to you as soon as possible.</span>
    </div>

    {#<input type="submit" class="" value="Send"> #}

    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
       <i class="material-icons right">send</i>
    </button>
</form>


<style media="screen">

</style>


    <script type="text/javascript">

    $( document ).ready(function() {
      console.log( "ready!" );
      $('#form').submit(function(event) {
          event.preventDefault();
          console.log("preventDefault!");
          $('.error').slideUp();
          $.post({
              url: '/',
              dataType: 'json',
              data: $(this).serialize(),
              success: function(response) {
                  console.log(response)
                  if (response.success) {
                      console.log("Worked.");
                      $('.thanks').fadeIn();
                  } else {
                      $('.thanks').fadeOut();
                      console.log("Didn't work.");
                      $('.error').slideUp();
                      for (i in response.errors) {
                        var className = '.error-'+i
                        console.log(className);
                        $(className).slideDown();
                      }
                  }
              }
          });
        });
      });

    </script>


{% endblock %}
