{% set nav = craft.entries.section('navigationMenu') %}

{# <nav class="nav-extended">
<div class="container">
  <div class="nav-wrapper">
    <a href="{{siteUrl}}" class="brand-logo">
      <img src="https://static1.squarespace.com/static/58a123c546c3c41632032fa9/t/58b362753a04111160da47d0/1559182814063/?format=300w" style="max-height:3rem;"alt="">
    </a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
    {% for item in nav %}
      <li><a href="{{ item.navigationItemLink.first().url }}">{{ item.navigationItemName }}</a></li>
    {% endfor %}
    {% if currentUser %}
    <li><a href="{{ siteUrl('admin') }}">{{currentUser}}</a></li>
    <li><a href="{{ siteUrl('logout') }}">Logout</a></li>
    {% else %}
      <li><a href="{{ siteUrl('users/login') }}">Login</a></li>
    {% endif %}
    </ul>
    </div>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  {% for item in nav %}
    <li><a href="{{ item.navigationItemLink.first().url }}">{{ item.navigationItemName }}</a></li>
  {% endfor %}
  {% if craft.session.isLoggedIn %}
    <li><a href="{{ siteUrl('admin') }}">{{currentUser}}</a></li>
    <li><a href="{{ siteUrl('logout') }}">Logout</a></li>
  {% else %}
    <li><a href="{{ siteUrl('users/login') }}">Login</a></li>
  {% endif %}
</ul> #}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a href="{{siteUrl}}" class="navbar-brand">
    <img src="https://static1.squarespace.com/static/58a123c546c3c41632032fa9/t/58b362753a04111160da47d0/1559182814063/?format=300w" style="max-height:3rem;"alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav" style="margin-left: auto;">
    {% for item in nav %}
      <li class="nav-item">
        <a class="nav-link" href="{{ item.navigationItemLink.first().url }}">{{ item.navigationItemName }}</a>
      </li>
    {% endfor %}
    {% if currentUser %}
    <li class="nav-item"><a class="nav-link text-white" href="{{ siteUrl('admin') }}">{{currentUser}}</a></li>
    <li class="nav-item"><a class="nav-link text-white" href="{{ siteUrl('logout') }}">Logout</a></li>
    {% else %}
    <li class="nav-item"><a class="nav-link text-white" href="{{ siteUrl('users/login') }}">Login</a></li>
    {% endif %}
    </ul>
  </div>
</nav>
