{% extends "_layout" %}

{% requireLogin %}

{% block content %}


{% include '_snippets/header-block' with
    {
      title: "Order Form",
      description:"Order here..."
    }
%}

{# <form action="https://formspree.io/mayyldgw" method="POST">
  <input type="text" placeholder="text" name="name">
  <input type="email" placeholder="email" name="_replyto">
  <input type="submit" value="Send">
</form> #}


{% set products = craft.entries.section('products') %}

{# {% for product in products %}

    {{ product.productName }}<br>
    {{ product.productDescription }}<br>

{% endfor %} #}

{# maybe add an option here for a product they'd like to request, like an other option #}

<form method="post" id="form" action="" accept-charset="UTF-8">
    {{ csrfInput() }}
    <input type="hidden" name="action" value="contact-form/send">
    {{ redirectInput('contact/?res=tks') }}
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="from-name">Name</label>
          <input id="from-name" type="text" class="form-control" name="fromName" value="{{ message.fromName ?? '' }}">
          <p class="error-fromName error error-hidden">Your Name cannot be blank</p>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="from-email">Email</label>
          <input id="from-email" type="email" class="form-control" name="fromEmail" value="{{ message.fromEmail ?? '' }}">
          <p class="error-fromEmail error error-hidden">Your Email cannot be blank.</p>
        </div>
      </div>

      <div class="col-md-12">
        <div class="form-group">
          <label for="message">Message</label>
          <textarea rows="2" cols="100%" class="form-control" id="message" name="message">{{ message.message ?? '' }}</textarea>
          <p class="error-message error error-hidden">Your Message cannot be blank</p>
        </div>
      </div>
    </div>

    <label for="available-products">Products:</label>
    <input id="available-products" type="hidden" name="products" value="">
    <ul>
        {% for product in products %}
        <div class="">
            <input type="checkbox" name="{{ product.productName }}" value="{{ product.productName }}"> {{ entry.productName }}
            <label for="{{ product.productName }}">{{ product.productName }}</label>
            </div>

        {% endfor %}
    </ul>
    <p class="error-fromEmail error error-hidden">Your product selection cannot be blank.</p>

    <p class="thanks green">Sent successfully! thanks</p>

    <input type="submit" class="btn btn-purchase" value="Order Now">
</form>


    <script type="text/javascript">

    $( document ).ready(function() {
      console.log( "ready!" );
      $('#form').submit(function(event) {
          event.preventDefault();
          console.log("preventDefault!");
          $('.error').slideUp();
          $.post({
              url: '/',
              dataType: 'json',
              data: $(this).serialize(),
              success: function(response) {
                  console.log(response)
                  if (response.success) {
                      console.log("Worked.");
                      $('.thanks').fadeIn();
                  } else {
                      $('.thanks').fadeOut();
                      console.log("Didn't work.");
                      $('.error').slideUp();
                      for (i in response.errors) {
                        var className = '.error-'+i
                        console.log(className);
                        $(className).slideDown();
                      }
                  }
              }
          });
        });
      });

    </script>


{# todo #}

{# implement and check i can implement texting with ajax post requests or webhooks. #}

{# upgrade craft to match to download this: #}
{# https://plugins.craftcms.com/webhooks #}

{# https://zapier.com/apps/twilio/integrations #}

{# https://zapier.com/apps/twilio/integrations/google-sheets #}


{% endblock %}
